body{
  margin: 50px;
}
nav {
  padding: 10px;
}
nav li{
  text-align: right;
  display: inline-block;
  position: relative;
  left: 200px;
}
nav>ul>li>a{
  padding: 19px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #B23128;
}


h1{
  margin-bottom: 14px;
  letter-spacing: 1px;
  font-size: 25px;
  color: #222222;
  font-weight: 600;
  line-height: 1.1em;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
h2{
  color: #333333;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.1em;
  font-weight: 600px;
  display: block;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
h3{
  line-height: 1.1em;
  margin-bottom: 10px;
  font-weight: 600px;
  display: block;
  font-size: 20px;
  color: #333333;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
  
}

p {
  margin: 0.8em 0;
  word-spacing: 2px;
  line-height: 20px;
  text-align: justtify;
  color: grey;
  font-size: 13px;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

.info{
  width: 300px;
}
.images .fa-twitter-square{
font-size: 70px;
color: #3A589B;
background-color: white;
}
.images .fa-facebook{
color:#3A589B;
font-size:65px ;
}
.images .fa-youtube{
  font-size: 50px;
  color:#FFF;
  background-color:#E33F20;
  border-radius: 50%;
  padding: 10px;
}
.images .fa-linkedin-in{
  font-size: 50px;
 background-color:#3A589B; 
 color: white;
 border-radius: 50%;
 padding: 10px;
}
.media{
display: flex;
justify-content: space-evenly;
margin-bottom: 100px;
}
.media a{
  padding:7px;
  background-color:#B23128 ;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}
span{
  color: #B23128;
}
.map1{
  display: flex;
  justify-content: space-around;
}
.map img{
  width: 650px;
  height: 600px;
}
.map .fa-location-dot{
  width: 100px;
  height: 200px;
  color: red;

}
.map,h1,h2{
  text-align: center;
  
}

form ,input{
  width: 450px;
  height: 28px;
  margin-bottom: 20px;
  border:1px solid #A09E9E;

  
}
form ,select{
width: 400px;
height: 30px;
border: none;
background-color: #FCFCFC;
margin-bottom: 20px;
}
form,textarea{
  margin-bottom: 20px;
  width: 450px;
}
.send{
  border: none;
  width: 80px;
  height: 28px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  background-color:#EC443B ;
  margin-bottom: 40px;
}
.request{
  position: relative;
  left: 200px;
  width: 500px;
}
#footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
}
.foot ul li a{
  text-decoration: none;
}
.foot{
  line-height: 30px;
}
.image .fa-twitter-square{
  font-size: 40px;
  color: #3A589B;
  background-color: white;
  }
  .image .fa-facebook{
  color:#3A589B;
  font-size:35px ;
  }
  .image .fa-youtube{
    font-size: 18px;
    color:#FFF;
    background-color:#E33F20;
    border-radius: 50%;
    padding: 10px;
  }
  .image .fa-linkedin-in{
    font-size: 20px;
   background-color:#3A589B; 
   color: white;
   border-radius: 50%;
   padding: 10px;
  }
  #footer p{
   color: #222222;
  }

@media screen and (max-width: 600px){
  .contact{
    flex-direction: column;
    justify-content: center;
    width: 500px;
    align-items: center;
  }
  .media{
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 700px;
  align-items: center;
  }
  .map1{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}
}