*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 20px;
    padding: 40px;
    line-height: 1.6;
    font-size: 25px;
    border: 2px solid #42b7ff;
}
header{
    text-align: center;
    margin-left: 10px;
    padding: left 50px;
    background-color: #0a80ce;
    color: white;
    box-shadow: 0 3px 4px 3px;
}
.container{
    display: flex;
    flex-direction: row;
    /* background-color: chartreuse; */
}
.container-course1 ,.container-course2{
    background-color: #f5f1f1;
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 10px;
    box-shadow: 2px 3px 2px 3px;
}
.head{
    box-shadow: 2px 2px 2px 2px;
    margin-right: 15px;
    background-color: aqua;
}
.container-course1 h3, 
.container-course2 h3,
.coursebdy2 h3,
.univ-coursebdy h3 {
    color: orange;
    margin: 20px;

}
.main-course{
    display: flex;
    margin: 20px;
    padding: 20px;
}
.univ-coursebdy ,.coursebdy2{
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 10px;
    box-shadow: 2px 3px 2px 3px;
    text-decoration: none;
    background-color: #f5f1f1;
}
.course-institution{
    margin-right: 15px;
    padding-left: 20px;
    margin-left: 15px;
}

.univ-course-head{
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
    padding: left 50px;
    color: white;
    font-size: 35px;
    background-color: #0a80ce;
    box-shadow: 2px 3px 2px 3px;
}
.links ul li a{
    /* background-color: green; */
    text-decoration: none;
}