*{
    /* background-color: rgb(240, 229, 229); */
    padding: 0%;
    margin : 0%;
   
}

.skills_center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.skills{
    width: 50%;
    margin-left: 40px;
    margin-top: 10%;
}
h1{
    text-align: inherit;
    margin-bottom: 0.6%;
}


.skills_type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
 
.soft_content{
    width: 40%;
}
.hard_content{
    width: 40%;
}

h2{
    text-align: center;
}
.container_1{
    /* border: 2px solid green; */
    width: 60%;
    margin-left: 5%;
    margin-top: 5%;
    background: turquoise;
    box-shadow: 4px 2px 0;
    

}
.job_links{
    /* border: 2px solid blue; */
    width: 60%;
    margin-top: 2%;
    background-color: turquoise;
    margin-left: 5%;
    box-shadow: 4px 2px 0;
    
    
}

h1{
    margin-top: 4%;
}
h2{
    margin-top: 4%;
}

h4{
   margin-top: 4%;
}